<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Categories Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1> Find Book</h1>

<!--<form action="#" th:action="@{/goToFindByTitle}" method="get">
    <p><input type="submit" class="button" value="Find by Title" name="findByTitle" />
</form>

<form action="#" th:action="@{/goToFindByAuthor}" method="get">
    <p><input type="submit" class="button" value="Find by Author" name="findByAuthor" />
</form>

<form action="#" th:action="@{/goToFindByGenre}" method="get">
    <p><input type="submit" class="button" value="Find by Genre" name="findByGenre" />
</form>

<form action="#" th:action="@{/findBook}" method="get">
    <p><input type="submit" class="button" value="Find by ISBN" name="findByIsbn" />
</form>
-->



</body>