<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Creation Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Update Employee Data</h1>
<form action="#" th:action="@{/employeeUpdateForm}" th:object="${#fields}"method="post">
    <p>Username: <input type="text" name="username" /></p>
    <p>New Username: <input type="text" name="newUsername"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>